<?xml version="1.0"?>
<config>
  <modules>
    <A3logics_CPshipping>
      <version>0.1.0</version>
    </A3logics_CPshipping>
  </modules>
  <global>
    <helpers>
      <cpshipping>
        <class>A3logics_CPshipping_Helper</class>
      </cpshipping>
    </helpers>
	<models>
	  <cpshipping>
		<class>A3logics_CPshipping_Model</class>
		<resourceModel>cpshipping_mysql4</resourceModel>
	  </cpshipping>
			<shipping>
				<rewrite>
					<carrier_abstract>A3logics_CPshipping_Model_Shipping_Carrier_Abstract</carrier_abstract>
				</rewrite>
			</shipping>
	</models>
	<resources>
	  <categoryattribute1411717816_setup>
		<setup>
		  <module>A3logics_CPshipping</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1411717816_setup>
	  <categoryattribute1411717816_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1411717816_write>
	  <categoryattribute1411717816_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1411717816_read>
	</resources>
  </global>    
	<default>
        <carriers>
            <cpshipping>
                <active>1</active>
                <model>cpshipping/carrier_cpshipping</model>
                <name>cp_shipping</name>
                <title>Category And Product shipping</title>
                <description>Shipping value of category</description>
                <sort_order>0</sort_order>
            </cpshipping>
        </carriers>
    </default>
</config> 
